* {
    font-family: "Poppins", sans-serif;
}

body{
    font-weight: 550;
}

h1 {
    text-align: center;
    font-weight: 700;
}

canvas {
    display: block;
    margin: auto;
}

.definitions{
    display: block;
    margin: auto;
    width: 75%;
}

.definition {
    margin: 40px;
}

input.button {
    display: block;
    margin: auto;
    height: 50px;
    width: 10%;
    border: solid rgb(180, 180, 180);
    border-radius:50px;
    font-weight: 700;
    cursor: pointer;
}

.button:hover {
    background-color: #d8e7ec;   
}

select {
    display: block;
    margin: auto;
    width: 15%;
}

img.playlist_img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    position: relative;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 25px;
}

.playlist_button {
    display: none;
    position: relative;
    height: 50px;
    width: 10%;
    border: solid rgb(180, 180, 180);
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
}

.playlist_button:hover {
    background-color: #d8e7ec;   
}

div.error {
    text-align: center;
}

div.playlist {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border: 3px solid rgb(180, 180, 180);;
    border-radius: 20px;
}

div.title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    position: relative;
    overflow-wrap: break-word;
    cursor: pointer;
}

.labl {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.labl > input.playlist_choice{ 
    visibility: hidden; 
    position: absolute;
}

.labl > input.playlist_choice + div.playlist{
    display: block;
    padding: 20px;
    margin: 30px;
    width: 35%;
    border: 3px solid rgb(180, 180, 180);;
    border-radius: 20px;
    cursor:pointer;
}

.labl > input.playlist_choice:checked + div{ 
    background-color: #c1dfeb;
}

@keyframes button_appear {
    0% {left: -150px; opacity: 0;}
    50% {left: 0px; opacity: 1;}
    100% {left: 0px; opacity: 1;}
}

.labl > input.playlist_choice:checked ~ input.playlist_button{ 
    display: block;
    animation-name: button_appear;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 750ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}