<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
</head>
<body>
    <canvas id="bubbleChart" width="1000" height="600"></canvas>
    <script>
        const graphLabels = ['Acousticness', 'Danceability', 'Energy', 'Liveness', 'Speechiness', 'Valence']
        var ctx = document.getElementById("bubbleChart").getContext("2d")
        var bubbleChart = new Chart(ctx, {
            type: "bubble",
            data: {
                title: "Playlist Attributes",
                datasets: [{
                            label: "Acousticness",
                            data: [
                                {% for attr in acousticness %}
                                    {x:'Acousticness', y: {{attr[0]}}, r: 5, track: "{{attr[1]}}"},
                                {% endfor %}
                            ],
                            fill: false,
                            borderColor: "#390099",
                            lineTension: 0.1           
                        },
                        {
                            label: "Danceability",
                            data: [
                                {% for attr in danceability %}
                                    {x:'Danceability', y: {{attr[0]}}, r:5, track: "{{attr[1]}}"},
                                {% endfor %}
                            ],
                            fill: false,
                            borderColor: "#9E0059",
                            lineTension: 0.1           
                        },
                        {
                            label: "Energy",
                            data: [
                                {% for attr in energy %}
                                    {x:'Energy', y: {{attr[0]}}, r:5, track: "{{attr[1]}}"},
                                {% endfor %}
                            ],
                            fill: false,
                            borderColor: "#FF0054",
                            lineTension: 0.1           
                        },
                        {
                            label: "Liveness",
                            data: [
                                {% for attr in liveness %}
                                    {x:'Liveness', y: {{attr[0]}}, r:5, track: "{{attr[1]}}"},
                                {% endfor %}
                            ],
                            fill: false,
                            borderColor: "#FF5400",
                            lineTension: 0.1           
                        },
                        {
                            label: "Speechiness",
                            data: [
                                {% for attr in speechiness %}
                                    {x:'Speechiness', y: {{attr[0]}}, r:5, track: "{{attr[1]}}"},
                                {% endfor %}
                            ],
                            fill: false,
                            borderColor: "#FFBD00",
                            lineTension: 0.1           
                        },
                        {
                            label: "Valence",
                            data: [
                                {% for attr in valence %}
                                    {x:'Valence', y: {{attr[0]}}, r:5, track: "{{attr[1]}}"},
                                {% endfor %}
                            ],
                            fill: false,
                            borderColor: "#8ABD13",
                            lineTension: 0.1           
                    }
                ]
            },
            options:{
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: (context) => {
                                console.log(context);
                                return `${context.raw.track}, Value: ${context.raw.y}`
                            }
                        }
                    }
                },
                responsive: false,
                scales: {
                    x: {
                        type:'category',
                        labels: graphLabels
                    }
                }
            }
        });
    </script>
</body>
</html>