<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
</head>
<body>
    <canvas id="bubbleChart" width="1000" height="600"></canvas>
    <script>
        const graphLabels = ['acousticness', 'danceability', 'energy', 'liveness', 'speechiness', 'valence']
        var ctx = document.getElementById("bubbleChart").getContext("2d")
        var bubbleChart = new Chart(ctx, {
            type: "bubble",
            data: {
                title: "Playlist Attributes",
                datasets: [{
                            label: "acousticness",
                            data: [
                                {% for attr in acousticness %}
                                    {x:'acousticness', y: {{attr[0]}}, r: 5, track: "{{attr[1]}}"},
                                {% endfor %}
                            ],
                            fill: false,
                            borderColor: "#390099",
                            lineTension: 0.1           
                        },
                        {
                            label: "danceability",
                            data: [
                                {% for attr in danceability %}
                                    {x:'danceability', y: {{attr[0]}}, r:5, track: "{{attr[1]}}"},
                                {% endfor %}
                            ],
                            fill: false,
                            borderColor: "#9E0059",
                            lineTension: 0.1           
                        },
                        {
                            label: "energy",
                            data: [
                                {% for attr in energy %}
                                    {x:'energy', y: {{attr[0]}}, r:5, track: "{{attr[1]}}"},
                                {% endfor %}
                            ],
                            fill: false,
                            borderColor: "#FF0054",
                            lineTension: 0.1           
                        },
                        {
                            label: "liveness",
                            data: [
                                {% for attr in liveness %}
                                    {x:'liveness', y: {{attr[0]}}, r:5, track: "{{attr[1]}}"},
                                {% endfor %}
                            ],
                            fill: false,
                            borderColor: "#FF5400",
                            lineTension: 0.1           
                        },
                        {
                            label: "speechiness",
                            data: [
                                {% for attr in speechiness %}
                                    {x:'speechiness', y: {{attr[0]}}, r:5, track: "{{attr[1]}}"},
                                {% endfor %}
                            ],
                            fill: false,
                            borderColor: "#FFBD00",
                            lineTension: 0.1           
                        },
                        {
                            label: "valence",
                            data: [
                                {% for attr in valence %}
                                    {x:'valence', y: {{attr[0]}}, r:5, track: "{{attr[1]}}"},
                                {% endfor %}
                            ],
                            fill: false,
                            borderColor: "#8ABD13",
                            lineTension: 0.1           
                    }
                ]
            },
            options:{
                responsive: false,
                scales: {
                    x: {
                        type:'category',
                        labels: graphLabels
                    }
                },
                plugins: {
                    tootip: {
                        callbacks: {
                            label: (context) => {
                                console.log(context);
                                return `${context.raw.track}, Value: ${context.raw.y}`;
                            }
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>