<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Your Playlist</title>
</head>
<body>
    <form action="/playlists" method = "POST">
        <h1>Which playlist would you like to visualize?</h1>
        <select name="playlists" id="playlists">
            {% for playlist in user_lists %}
            <option value={{playlist}}>{{playlist}}</option>
            {% endfor %}
        </select>

        <input type="submit" class="button" value="Visualize Playlist">
    </form>

</body>
</html>